@charset "utf-8";

body.intro{background:#cacaca url("../images/img_symbol.png") no-repeat center 70px;background-size:120px auto;}
body.sub{background:#f2f2f2;}
body.sub2{background:#f8f8f8;}
body.sub3{background:#fff;}

/* header */
/* #header {width:100%; height:40px; text-align:left; letter-spacing:-1px;background:#fff8f1;} */
#header {width:100%; height:40px; text-align:left; letter-spacing:-1px;}
#header.loan-color {background:#f0f9fe !important;}
#header.certifi-color {background:#f8f8f8 !important;}
#header > h1 {position:absolute;top:5px;right:9px;display:inline-block; width:21px; background:url(../images/common/logo.png) no-repeat; background-size:100%; height:29px;}
#header p{padding-left:8px ;border-bottom:1px solid #e6e6e6;background: #f8f8f8; height:19px;line-height:19px;font-size:8px;}
#header > h2 {color:#222; text-align:center; font:18px/43px nanumgothic_bold; letter-spacing:-1px; background-color: #f8f8f8; }
#header .menu-open {position:absolute; top:10px; right:4%; width:25px; height:25px; background:url(../images/common/btn_menu.png) no-repeat 3px 5px; background-size:19px auto;}
#header .back-to {position:absolute; top:10px; left:4%; display:inline-block; letter-spacing:0; font:9px/24px nanumgothic_bold; color:#666; width:44px; height:24px; background:#fff;border:1px solid #b0abb3;  text-align:center; border-radius:3px;}
#header .back-to span {display:inline-block;width:5px;height:8px;margin-top:2px;padding-right:5px; background:url(../images/common/btn_icon.png) no-repeat left center; background-size:5px auto;}
#menuSlide {z-index:99999; display:none; text-align:left; position:absolute; right:0; top:0; width:100%; height:100%; min-height:500px;}
#menuSlide nav {z-index:1; position:fixed;top:30%; right:20%; font:14px/34px nanumgothic_bold; color:#fff; width:60%; height:100%; overflow:auto;}
#menuSlide nav h1 {padding-left:40px;font:16px/42px nanumgothic_bold;background: #e41937; /* Old browsers */    background: #1e74ba;}
#menuSlide nav > a {position:absolute; top:9px; left:8px; width:24px; height:24px; background:url(../images/common/btn_close.png) no-repeat; background-size:24px auto;}
#menuSlide nav ul li {background:#fff;border-bottom:1px solid #f8f8f8;}
#menuSlide nav ul li:last-child {border-bottom:0;}
#menuSlide nav ul li a {display:block; padding-left:8px;color:#555;}
#menuSlide > div {position:fixed; top:0; left:0; width:100%; height:100%;}
#menuSlide > div > p {display:block; width:100%; height:100%; z-index:0; background:#000; opacity:0.5}

#top_mar{height: 63px;}
.sub-con-tit{color: #999;font:12px/21px nanumgothic_bold;height: 21px;padding-left:4%;background:#f1f1f1;display: block;border-bottom:1px solid #d4d4d4; }
.sub-con-tit.bdT{border-top:1px solid #c5c5c5;}
/* .sub-txt{color: #fb5b21;font-size:12px;margin-top:15px} */
.sub-txt{color: #fb5b21;font-size:12px;}
.emailSend {top:10px; left:4%; display:inline-block; letter-spacing:0; font:9px/24px nanumgothic_bold; color:#666; width:60px; height:24px; background:#fff;border:1px solid #b0abb3;  text-align:center; border-radius:3px;}
/* step */
.step-area{width:100%;color:#444;overflow:hidden;}
.step-area ul{font-size: 13px;line-height:16px;}
.step-area li{float:left;width:24.8%;background:#fff ;height:30px;line-height:1.15em;border-bottom:1px solid #f6b6c0;border-top:1px solid #f6b6c0;border-right:1px solid #f6b6c0;position:relative;}
.step-area li .arrow{position: absolute;right:-9px;top:0;width:10px;height:58px;background: url(../images/common/bg_step.png) no-repeat left top;background-size:10px auto;display: block;z-index:10;}
.step-area li p{position:relative;display:inline-block;padding:7px 0 5px 26px;/* border-left:1px solid #f6b6c0; */height:100%;}
.step-area li > p > span{position:absolute;left:15px;top:7px;font-size:0.85em;color:#fb5b21;}
.step-area li:first-child{width:24.8% !important;} 
.step-area li:first-child p{padding-left:22px;}
.step-area li:first-child  > p > span{left:10px;}
.step-area li.on{background:#e00d2f;font:13px/16px nanumgothic_bold !important;color:#fff;border-bottom:1px solid #e00d2f;}
.step-area li.on:first-child{background-image:none;} 
.step-area li.on .arrow{position: absolute;right:-9px;top:0;width:10px;height:58px;background: url(../images/common/bg_step.png) no-repeat left -78px;background-size:10px auto;display: block;z-index: 20;}
.step-area li.on  > p > span{color:#fff;}

.step-con header{padding:9px;background:#f7f7f7;box-shadow:1px 1px 1px rgba(0,0,0,0.1);border-bottom:1px solid #c5c5c5;}
.step-con header p{color: #fb5b21;font-size:12px;line-height:120%;}
.step-con header.loan-amount{background:#fff;box-shadow:none;padding:0 !important;}
.step-con header.loan-amount h2{color:#48677b;font:12px/16px nanumgothic_bold;background:url(../images/bg_loan_amount.png) no-repeat 4% center;background-size:38px auto;padding:9px 0 9px 60px;border-bottom:1px solid #c5c5c5;}
.step-con header.loan-amount p{color: #999;font-size:12px;line-height:15px;letter-spacing: -1px;}
.step-con header.loan-amount p > span{display:inline-block;padding:5px 85px 5px 4%;position: relative;}
.step-con header.loan-amount p > span .btn-cs{position: absolute;right:4%;top:5px;}

.loan-list{border-bottom: 1px solid #cacaca;}
.loan-list li > a {padding:4%;background:#fff url(../images/common/icon_loan.png) no-repeat right 25px;background-size:25px auto;font-size:15px;width:92%;display:block;border-top:1px solid #cacaca;}
.loan-list li .dropboad{display:none !important;}
.loan-list li.on {background:#fff;} 
.loan-list li.on .on-bd{/* border-left:1px solid #ff8932;border-right:1px solid #ff8932;border-bottom:1px solid #ff8932; */box-sizing:border-box;} 
.loan-list li.on > a {width:100%; background: #feefe1 url(../images/common/icon_loan.png) no-repeat right -25px;background-size:25px auto;border-top:1px solid #ff8932;border-left:1px solid #ff8932;border-right:1px solid #ff8932;color:#70413a !important;box-sizing:border-box;}
.loan-list li.on .dropboad{display:block !important;}
.loan-list li.compl > a {background: #f2f2f2 url(../images/common/icon_loan.png) no-repeat right -85px;background-size:25px auto;border-top:1px solid #cacaca;color:#70413a !important;border-left:0 !important;border-right:0 !important;}
.loan-list .on-bd > .board-view{border-top: 1px solid #cacaca;}

/* preview */
.previewBox{box-sizing:border-box;border-radius:5px;background:#fff;border:1px solid #eeece7;padding-bottom:15px;border-top:0 !important;}
.previewControl{box-sizing:border-box;border-radius:4px;height:29px;padding:3px 0;width:100%;border:1px solid #f2dac5;}
/* .previewControl{box-sizing:border-box;border-radius:4px;background:#ffefe2;height:29px;padding:3px 0;width:100%;border:1px solid #f2dac5;} */
.previewControl:after {display:block; clear:both; content:""}
.previewControl li{float:left;width:33%;text-align:center;background: url(../images/bg_viwer_line.png) repeat-y left center;background-size:2px auto; }
.previewControl li:first-child{background-image:none;width:33%;}
.control{display:inline-block;width:92%;height:21px;text-indent:-10000px;background:url("../images/icon_control.png") no-repeat;background-size:20px auto; border: 0 !important;}
.control.btn-pre{background-position:center 0;}
.control.btn-next{background-position:center -35px;}
.control.zoomOut{background-position:center -72px;}
.control.zoomIn{background-position:center -110px;}
.control.fullScreen{background-position:center -147px;}
.previewImg{background:#fff;text-align:center;width:100%;margin-top:10px;position: relative;overflow: hidden;height:100%;}
.previewImg:after {display:block; clear:both; content:""}
#pageInfo{line-height:22px;font-size:12px;color: #666;font-family:nanumgothic_bold;}
#imgDiv {width:100%; float:left;position:relative;z-index:1;overflow:hidden;}
#viewerScroller {/* width:2100px; */width:100%;height:100%;float:left;padding:0;padding:0;}
#viewerScroller ul {list-style:none;display:block;width:100%;height:100%;padding:0;margin:0;}
#viewerScroller li {box-sizing:border-box;display:block;float:left;text-align:center;width:100%;}

.compl-contract{background:#fff url(../images/bg_compl_contract.png) no-repeat center 34px;background-size:75px auto;padding:132px 4.5% 33px;border-bottom: 1px solid #d4d4d4; }
.compl-contract h1{font:16px/25px nanumgothic_bold;text-align: center;margin-bottom:15px;}
.compl-contract p{font-size:12px;line-height:17px;color: #666;text-align: center;}

.network-error{background:#fff url(../images/bg_network_error.png) no-repeat center 50px;background-size:100px auto;padding:150px 4.5% 55px;border-bottom: 1px solid #d4d4d4; }
.network-error h1{font:16px/25px nanumgothic_bold;text-align: center;margin-bottom:8px;}
.network-error p{font-size:12px;line-height:17px;color: #666;text-align: center;}
 
.certificate-box{padding:4%; background:#fff;box-shadow:1px 2px 4px rgba(0,0,0,0.1) inset;border-bottom:1px solid #d4d4d4; }
.certificate-box th, .certificate-box td{font-size:15px;padding:5px 0;text-align:left;}

.cert-list li{background:#fff;border-bottom:1px solid #d4d4d4;}
.cert-list li.on{background: #fff8f1;}
.cert-list table{padding:12px 4%;}
.cert-list th{font-size:15px;padding-bottom:7px;text-align:left;}
.cert-list td{font-size:10px;}

.get-sign{background:#fff url(../images/bg_get_sign.png) no-repeat center 15px;background-size:195px auto;padding:100px 4.5% 33px; }
.get-sign h1{font-size:16px;text-align: center;margin-bottom:14px; }
.get-sign li{font-size:12px;line-height:17px;}
.appro-box{padding:4%; background:#f8f8f8;border-top:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;}
.appro-box h1{color: #666;font:12px/21px nanumgothic_bold;height: 21px;}

.loan-appl{background:#fff url(../images/bg_loan_appl.png) no-repeat center 15px;background-size:75px auto;padding:130px 4.5% 40px;border-bottom:1px solid #c5c5c5 }
.loan-appl h1{font-size:18px;text-align: center;color:#ccc;font-family:nanumgothic_bold;}

/* term */
.terms h1{position:relative; background:#f0f0f0;font:12px/28px nanumgothic_bold;color: #999;border-top-left-radius:3px;border-top-right-radius:3px;padding-left: 10px;border-bottom:1px solid #dbdbdb;}
.terms h1 > .btn-view2{position: absolute;right:10px;top:4px;}
.termAll{padding: 10px;font-size:15px;}
.open-terms{display:inline-block; background:url(../images/common/icon_terms.png) no-repeat right -19px;background-size:14px auto;padding:5px 22px 5px 0;margin-top:5px;}
.close-terms{display:inline-block;background:url(../images/common/icon_terms.png) no-repeat right 12px;background-size:14px auto;padding:5px 22px 5px 0;margin-top:5px;}
.agree-box{padding:10px 10px;}
.agree-box.line-t{border-top:1px solid #ededed;}
.agree-box .txt_s{font-size: 9px;}
.agree-box dl{overflow:hidden;}
.agree-box dt, .agree-box dd{float:left;}
.agree-box dt{width:74%;font-size:14px; line-height:18px;vertical-align: middle;}
.agree-box dd{width:26%;text-align:right;}
.agree-box2{padding:5px 10px}
.agree-box2 dl{overflow:hidden;}
.agree-box2 dt{float:left;width:35%;font-size:12px; line-height:36px;vertical-align: middle;}
.agree-box2 dd{float:left;width:65%;text-align:right;}
.agree-sub-wrap{box-sizing:border-box;border-radius:3px;background:#f2f2f2;font-size: 12px;margin-top:10px;}
.agree-sub-wrap > li{border-top:1px solid #fff !important;}
.agree-sub-wrap li:first-child{border-top:0;} 
.agree-sub{padding:8px 10px 0;}
.agree-sel{text-align:right;padding:5px 10px 10px;}
.agree-sel2{padding:5px 10px 10px;}
.agree-sel label{color:#888;}

.loan-amount{padding:0 4%; background:#fff;border-bottom:1px solid #c5c5c5; }
.loan-amount th, .loan-amount td{padding:8px 0 5px;text-align:left;color:#666;font-family:nanumgothic_bold;}
.loan-amount td strong{color:#0387c5;font-size:20px;}

.loan-check{background:#fff;border-bottom:1px solid #d4d4d4;padding:5px 4%;}
.loan-check th, .loan-check td{color:#666;padding:5px 0;text-align:left;}
.loan-check .txt-small{font-size:12px;}
.loan-check-result{background:#fff;border-top:1px solid #d4d4d4;}
.loan-check-result p{font-size:12px;color:#666;font-family:nanumgothic_bold;}

.board-view.info_check_tbl {border-top:1px solid #e00d2f;}
.board-view.info_check_tbl tbody th {padding-left:10px; line-height:20px; background-color:#fbfbfb;} 
.board-view.info_check_tbl tbody td {padding-left:15px; line-height:20px}
.board-view.info_check_tbl tbody tr th + td {border-left:1px solid #e5e5e5;}

.gray_box {padding:25px 0 20px; background:#fbfbfb; border:1px solid #e5e5e5; font-size:12px; line-height:17px; color:#666}
.gray_box > h1 {margin-bottom:6px; color:#000; font-size:16px; font-family:nanumgothic_bold;}

.product_info .cont_lst li {color:#55474a; font-size:9px; line-height:14px}
.product_info .cont_lst li > .txt {margin:0 0 0 12px; font-size:10px; line-height:14px}

.vacant_box {display:block; height:0; margin:7px 10px; border-bottom:1px solid #bebebe}
.possible_amount .round-box-w {padding:20px 0 15px;}
.possible_amount .round-box-w > h2 {margin-bottom:20px; font-size:20px; line-height:23px; font-family:nanumgothic_bold; color:#666}
.possible_amount .smTxt {color:#868686}
.noneBox {padding:48px 0 48px; margin-top:10px; text-align:center; font-size:13px}
.alert_txt {padding:20px 0 20px; font-family:nanumgothic_bold; font-size:13px; line-height:19px; text-align:center; color:#666}

.type_alert_big .font16 {line-height:18px}
.gray_box.type_alert_big {padding:35px 0 35px; margin-bottom:115px}
.gray_box.type_alert_big > h1 {margin-bottom:8px}

.type_edit {}
.type_edit .btn-view {width:50px; height:30px; font:12px/30px nanumgothic_bold; }
.type_edit .agree-box dt {width:81.5%; margin-top:7px; font-size:12px; font-family:nanumgothic_bold;}
.type_edit .agree-box dd {width:auto; min-width:18.5%}

.valid_txt {display:inline-block; margin-top:5px; color:#e80025; font-size:12px; text-align:center; line-height:19px; vertical-align:top}
.wrap_term + .wrap_term {padding-top:15px}
.term_txt {}
.term_txt h2, .term_txt .tit_h2 {display:block; color:#55474a; font-family:nanumgothic_bold; font-size:11px}


/*달력*/
/*Calendar*/

.calendar{
    margin-bottom:30px;
}

.calendar-titles a{
    width:14.28%;
    float:left;
    text-align:center;
    height:40px;
    line-height:40px;
    font-size:10px;
    color:#1f1f1f;
    font-weight:800;
}

.calendar-titles .light-titles{
    opacity:0.5;
}

.calendar-days{
    margin-top:-10px;
    font-size:14px;
    margin-bottom:30px;
}

.calendar-days a{
    width:14.28%;
    float:left;
    height:60px;
    line-height:60px;
    text-align:center;
    color:#1f1f1f;
    font-weight:700;
}

.calendar-days a:hover{
    color:rgba(41, 128, 185,1.0);
}

.calendar-day .light-day{
    opacity:0.3;
}

.calendar-days i{
    position:absolute;
    font-size:10px;
    margin-top:12px;
    margin-left:-7px;
  /*   z-index:-1; */
}

.clear-day i{
  /*   opacity:0; */
}

.light-day{
    opacity:0.5;
}

.light-day i{
    /* display:none; */
}

.taken-day{
    color:#FFFFFF!important;
}

.taken-day i{
    color:#27ae60;
}

.close-day{
    color:#FFFFFF!important;
}

.close-day i{
    color:#c0392b;
}

.calendar-hours{
    border-top:solid 1px rgba(0,0,0,0.1);
}

.calendar-hour{
    height:80px;
    border-bottom:solid 1px rgba(0,0,0,0.1);
}

.calendar-hour-clear:hover{
    background-color: rgba(39, 174, 96, 0.1);  
}

.calendar-hour-taken:hover{
    background-color: rgba(192, 57, 43,0.1);   
}

.calendar-hour strong{
    color:#666666;
    opacity:0.7;
}

.calendar-hours a:last-child{
    border-bottom:none;
}

.calendar-hour .cal-time{
    position:absolute;
    margin-top:30px;
    font-weight:400;
    font-size:11px;
    padding-left:20px;
}

.calendar-hour .cal-from{
    position:absolute;
    margin-top:18px;
    font-size:11px;
    font-weight:400;
    padding-left:20px;
}

.calendar-hour .cal-to{
    position:absolute;
    margin-top:40px;
    font-size:11px;
    font-weight:400;
    padding-left:20px;
}

.calendar-hour h4{
    font-size:14px;
    padding-left:100px;
    padding-top:17px;
    margin-bottom:2px;
}

.calendar-hour em{
    font-style:normal;
    font-size:11px;
    padding-left:100px;
    color:#666666;
}

.calendar-hour em i{
    margin-right:10px;
}
.decoration{ 
    position:relative;
    z-index:9!important;
	height:1px;
	background-color:rgba(0,0,0,0.1);
	margin-bottom:30px;
	display:block;
	clear:both;
}

.pageNavi { position: relative;margin: -1px 0 20px;}
/* .pageNavi a { display: block; position: absolute; top: 0; right: 0; width: 40px; height: 40px; background: url(../images/btn/ico_pageNavi_right.png) no-repeat center center; background-size: 9px 16px; border-left: 1px solid #ccc; text-indent: -99999em;}
.pageNavi a:first-child { right: auto; left: 0; background-image: url(../images/btn/ico_pageNavi_left.png); border-left: 0; border-right: 1px solid #ccc;}
 */
 .pageNavi a { display: block; position: absolute; top: 0; right: 0; width: 40px; height: 40px; background: url(../images/btn/ico_pageNavi_right.png) no-repeat center center; background-size: 9px 16px; border-left: 1px solid #ccc; text-indent: -99999em;}
.pageNavi a:first-child { right: auto; left: 0; background-image: url(../images/btn/ico_pageNavi_left.png); border-left: 0; border-right: 1px solid #ccc;}
.pageNavi span { display: block; width: 100%; height: 38px; line-height: 38px; text-align: center; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;}
.pageNavi a img {width: 40px;height: 40px;border-left: 1px solid #ccc;}